= javascript_include_tag 'https://www.google.com/jsapi'

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(function() {
    drawChart(#{quotes_chart_data(@shares.map(&:symbol), @quotes, @start_date).to_json});
  });

.row
  .cell
    = form_for @share do |f|
      = f.select :symbol, options_for_select(@symbols)
      = f.submit 'Add Share'
  .cell.gap
  .cell
    = form_tag share_path(0), method: :delete do
      = select_tag :share_id, options_from_collection_for_select(@shares, :id, :symbol)
      = submit_tag 'Delete Share'

#quotes_chart
